:root {
  --primary-color: #007FFF;
  --secondary-color: #F0F8FF;
  --tertiary-color: #7d8081;
  --text-color: #212529;
  --white-color: #fefdfe;
  --error-color: #FF0038;
  --border-color: #ccc;
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}